* {
  border: 1px solid teal;
}

nav {
  /*display: none;*/
}
ul{
  display:flex;
  list-style-type:none;
  flex:1;

}
.watercolor-9, .watercolor-10 {
display:flex;
justify-content:space-between;
}
img {
  max-width: 175px;
  height: 125px;
}

section  {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-around;
}

aside {
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}